@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&display=swap');



body{
    background-image: url(earth-2581631_1280.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1200px;

    
}
.wrapper{
    align-content: center;
    max-width: 1200px;
}

#topspace{
    height: 450px;

}

h1{
    padding: 5px;
    color: rgb(0, 255, 106);
    font-family: 'Big Shoulders Inline Display', cursive, Arial;
    font-size: 40px;
    text-shadow: 1px 1px #0e005a;
    font-weight: bold;


}

#theheader{
    animation: textclip 1.5s linear infinite;

}

#mainphoto{
    height: 300px;
    width: 450px;
    float: right;
    border-radius: 8px;
    opacity: .88;
    animation: moving 2s infinite linear alternate;


}

.tabs{
    float: right;
    display: flex;
    
    
}

#home,#about,#contact{
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 255, 106, 0.274);
    border-radius: 8px;
    margin: 4px;


}

#home:hover,#about:hover,#contact:hover{
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 102, 255, 0.274);
    color: rgb(0, 204, 61);


}

hr{
    border-top: 1px solid rgb(0, 255, 106) ;
}

#texta{
    padding-top: 255px;
    color: rgb(0, 255, 106);
    font-family: 'Big Shoulders Inline Display', cursive, Arial;
    font-size: 30px;
    text-shadow: 1px 1px #0e005a;
    font-weight: bold;



}

#spot1{

    height: 300px;

}

#naturephoto{
    height: 300px;
    width: auto;
    float: left;
    border-radius: 10px;
    padding: 5px;

}

#textb{
    padding-top: 255px;
    color: rgb(0, 255, 106);
    font-family: 'Big Shoulders Inline Display', cursive, Arial;
    font-size: 30px;
    text-shadow: 1px 1px #0e005a;
    font-weight: bold;
    
}

.footer{
    color: rgb(0, 255, 106);
    font-weight: bold;
    text-align: center;


}